{% comment %}
  Product form

  @param product

  @param selected_variant
{% endcomment %}

{% if is_product_modal and show_dcb %}
  {% assign product_smart_buttons = true %}
{% endif %}

{% if is_product_modal == false and show_dcb %}
  {% assign product_smart_buttons = true %}
{% endif %}

{% if is_cross_sell or selected_variant.available == false %}
  {% assign product_smart_buttons = false %}
{% endif %}

{% assign product_form_class = '' %}
{% if product_smart_buttons %}
  {% assign product_form_class = 'smart-payment-enabled' %}
{% endif %}

{% if show_quantity == nil %}
  {% assign show_quantity = true %}
{% endif %}

{% form 'product', product, class: product_form_class, data-product-form: '' %}

   

  {% if product.has_only_default_variant %}
    <input
      name="id"
      value="{{ product.variants[0].id }}"
      type="hidden">
  {% else %}
    {%
      render 'product-options',
      product: product,
      selected_variant: selected_variant,
      style: settings.product_option_style
    %}
  {% endif %}

  {% if settings.product_show_stock_level != 'hidden'%}
     {%
        render 'product-stock-level',
        container: 'product_page',
        variant: selected_variant,
        inventory_quantity: selected_variant.inventory_quantity
      %}
  {% endif %}
  

  <div class="product-form--atc">
     {% comment %} quantity selector with plus and minus {% endcomment %}
   {% if show_quantity %}
   
         <div class="product-form__input product-form__quantity{% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_vertical_offset < 0 %} product-form__quantity-top{% endif %}" {{ block.shopify_attributes }}>
              <label class="form__label" for="Quantity-{{ section.id }}">
                {{ 'product..quantity.label' | t }}
              </label>
              <quantity-input class="quantity quantity-plus-minus">
                <button class="quantity__button no-js-hidden quantity-minus" name="minus" type="button">
                  <span class="visually-hidden">{{ 'product.quantity.decrease' | t: product: product.title | escape }}</span>
                  -
                </button>
                   
                <input type="number" id="quantity" name="quantity" value="1" min="1" class="quantity-selector quantity-input " >
              
                <button class="quantity__button no-js-hidden quantity-plus" name="plus" type="button">
                  <span class="visually-hidden">{{ 'product.quantity.increase' | t: product: product.title | escape }}</span>
                  +
                </button>
              </quantity-input>
        </div>

{% endif %}
{% comment %}   
    {% if show_quantity %}
      <div class="product-form--atc-qty form-fields--qty" data-quantity-wrapper>
        <div class="form-field form-field--qty-select">
          <div class="form-field-select-wrapper">
            <select
              id="product-quantity-select"
              class="form-field-input form-field-select"
              aria-label="{{ 'general.general.quantity' | t }}"
              data-quantity-select
            >
              {% for i in (1..9) %}
                <option {% if i == 1 %}selected {% endif %}value="{{ i }}">
                  {{ i }}
                </option>
              {% endfor %}
              <option value="10+">
                10+
              </option>
            </select>
            <label
              for="product-quantity-select"
              class="form-field-title"
            >
              {{ 'general.general.quantity' | t }}
            </label>
            {% render 'icon-library', id: 'icon-chevron-down-small' %}
          </div>
        </div>
        <div class="form-field form-field--qty-input hidden">
          <input
            id="product-quantity-input"
            class="form-field-input form-field-number form-field-filled"
            value="1"
            name="quantity"
            type="text"
            pattern="\d*"
            aria-label="{{ 'general.general.quantity' | t }}"
            data-quantity-input
          >
          <label
            for="product-quantity-input"
            class="form-field-title"
          >
            {{ 'general.general.quantity' | t }}
          </label>
        </div>
      </div>
    {% else %}
      <input name="quantity" type="hidden" value="1">
    {% endif %}
{% endcomment %}
    <button
      class="product-form--atc-button button-tertiary {% unless selected_variant.available %}disabled{% endunless %}"
      type="submit"
      {% unless selected_variant.available %}disabled{% endunless %}
      data-product-atc
    >
      <span class="atc-button--text" data-product-atc-text>
        {% if selected_variant.available %}
          {{ 'product.buttons.add_to_cart' | t }}
        {% else %}
          {{ 'product.buttons.sold_out' | t }}
        {% endif %}
      </span>
      <span class="atc-button--icon">
        {% render 'icon-library', id: 'icon-spinner' %}
      </span>
    </button>
    
  </div>
 
      {% assign product_limit = 3 %}
    
      <script
        type="application/json"
        data-section-type="static-product-recommendations"
        data-section-id="{{ section.id }}"
        data-section-data
      >
        {
          "settings": {
            "limit": {{ product_limit }}
          },
          "productId": {{ product.id | json }}
        }
      </script>
    
      <section
        class="product-section--container product-row--container product-recommendations--container product-section-combine"
        data-html
        data-product-recommendations
      >
        {% if recommendations.products_count > 0 %}
          <h2 class="product-section--title product-recommendations--title title-heading-section">
            You May Also Like:
          </h2>
    
          <ul
            class="
              product-section--content
              product-row
              {% if settings.enable_product_card_spacing == false %}product-row--no-spacing{% endif %}
            "
            data-product-row
          >
            {% for product in recommendations.products limit: product_limit %}
              {%
                include 'product-grid-item',
                product: product
              %}
            {% endfor %}
          </ul>
        {% endif %}
      </section>
   
</div>
  {% if product_smart_buttons %}
    {{ form | payment_button }}
  {% endif %}

  <div data-payment-terms-reference style="display: none;">
    {{ form | payment_terms }}
  </div>
{% endform %}
