{% style %}
 #shopify-section-{{section.id}} .faq .question-label {
    background: {{ section.settings.question_color }};
  }
 #shopify-section-{{section.id}} .faq .question-label {
    color: {{ section.settings.text_color }} !important;
  }
#shopify-section-{{section.id}} .faq .question-label:hover {
  background-color: {{ section.settings.hover_color}};
}

.faq {
    overflow: hidden;
    width: {{section.settings.accordian_width | append: '%'}};
    margin: 0 40px;
    border-bottom: 1px solid #80808047;
    border-top: 1px solid #808080a6;
} 

.faq .question-label::after {
  content: '{{section.settings.text_before}}';
  transition: all 0.4s;
}

.faq .question-toggle:checked ~ .question-label::after {
  content: '{{section.settings.text_after}}'
}

{% endstyle %}

<div class='split-section'>
    <section style="width:100%; margin-bottom:100px;"> 
        {% for block in section.blocks %}
        {% if block.type == 'Product_description'  %}
        <div class="faq">
                <div class="question">
                    <input type="checkbox" id="question-{{ forloop.index }}" class="question-toggle">
                    <label for="question-{{ forloop.index }}" class="question-label">{{block.settings.question}}</label>
    
                    <div class="answer">{{block.settings.description}}{{ product.description }}</div>
                </div>
            </div>
            {% elsif block.type == 'metafield' and block.settings.description != blank  %} 
             <div class="faq">
                <div class="question">
                    <input type="checkbox" id="question-{{ forloop.index }}" class="question-toggle">
                    <label for="question-{{ forloop.index }}" class="question-label">{{block.settings.question}}</label>
    
                    <div class="answer">{{block.settings.description}}</div>
                </div>
            </div>
            {% elsif block.type == 'headline' %}
                <h2 class='margin-top'>{{block.settings.title}}</h2>
            {% endif %}
        {% endfor %}
    </section> 
    </div>
   


{% schema %}
    {
        "name": "Accordian",
        "settings": [
        {
            "type": "text",
            "label": "heading for description",
            "id": "heading"
        }
     
        ],

          "name": "Product recommendations",
            "class": "product-recommendations--section",
            "settings": [
           
              {
                "type": "color",
                "id": "question_color",
                "label": "Question Background",
                "default": "#064664"
              },
              {
                "type": "color",
                "id": "text_color",
                "label": "Text",
                "default": "#f7b102"
              },
              {
                "type": "color",
                "id": "hover_color",
                "label": "Background Hover",
                "default": "#ffffff"
              },
              {
              "type": "range",
              "id": "accordian_width",
              "min": 50,
              "max": 100,
              "step": 1,
              "unit": "%",
              "label": "Accordian width",
              "default": 96
            },
            {
              "type": "text",
              "id": "text_before",
              "label": "Show label",
              "default": "\+"
            },
            {
              "type": "text",
              "id": "text_after",
              "label": "Show Label After",
              "default": "\-"
            }
            ],


        "blocks": [
            {
                "type": "Product_description",
                "name": "Enter text here",
                "settings": [
                    {
                        "type": "text",
                        "label": "title (internal only)",
                        "id": "title"
                    }, 
                    {
                        "type": "text",
                        "label": "Product specification Name",
                        "id": "question"
                    }, 
                    {
                        "type": "richtext",
                        "label": "Specifications",
                        "id": "description" 
                    }

                ] 

            },
            {
                "type": "metafield",
                "name": "Enter metafield Name",
                "settings": [
                    {
                        "type": "text",
                        "label": "title (internal only)",
                        "id": "title"
                    }, 
                    {
                        "type": "text",
                        "label": "Product specification Name",
                        "id": "question"
                    }, 
                    {
                        "type": "richtext",
                        "label": "Specifications",
                        "id": "description" 
                    }

                ] 

            },
            {
                "type": "headline",
                "name": "Headline",
                "settings": [
                  {
                    "type": "text",
                    "label": "Headline for Questions",
                    "id": "title"
                  }
                ]
            }
        ],
      "presets": [
    {
      "name": "Accordian",
      "category": "Product Description",
      "blocks": [
        {
          "type": "headline"
        },
        {
          "type": "metafield"
        },
        {
          "type": "Product_description"
        },
        {
          "type": "Product_description"
        },
        {
          "type": "Product_description"
        },
        {
          "type": "Product_description"
        }
      ]
    }
  ],
  "templates": [
    "index",
    "product",
    "page",
    "collection"
  ]
    }
{% endschema %}
